* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
.header {
  height: 80px;
  width: 100%;
  background-color: coral;
  display: flex;
  justify-content: space-between;
}
img {
  height: 55px;
  width: 55px;
}
body {
  background-color: black;
}
